
     @media screen and (max-width: 640px) {
     
        h1{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size:30px;
            }
            
           
       
            body{
                background-image: url("../images/dust_scratches.png");
                background-color: lightgray;
           
            }
           footer{
               position:fixed;
               bottom:0;
               left:0;
               color:#8d8c8c;
               font-family: Arial, Helvetica, sans-serif;
               border-top: 8px solid #4aaaa5;
               font-size: 10px;
               height:10px;
               padding:20px;
               text-align: center;
               background-color: rgb(75, 73, 73);
               width:100%;
           }
            p{
                color: grey;
                font-family:Arial, Helvetica, sans-serif;
                font-size:12pt;
                line-height: 200%;
            }

            .Header{
                position:absolute;
                top:0;
                left:0;
                height:80px;
                background-color:white;
                width:100%;
              }

              #Yourname{
                position:absolute;
                top:0;
                text-align: center;
                color:white;
                background-color: #4aaaa5;
                height:80px;
                width:200px;
            }

            .container{
               float: left;
               margin-top: 70px;
               margin-left:10px;
            }
           
                .tab{
                text-align: center;
                float:left;
                width:50px;
                padding-top:20px;
                padding-bottom:10px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                }
                
                a{
               text-decoration: none;
               color:grey;
                }
            
            .Pagebody{
                float: left;
                 background-color: #ffffff;
                 width:100%;
                 padding:20px;
                 margin:100px 50px 50px 0;
             }
        
             #Aboutme{
                 border-bottom:4px solid silver;
                 margin-bottom: 30px;
                 color: teal;
             }
        
            #bioimage{
                float: left;
                width:100%;
                margin-right:10px;
            }



            .sidebar{
               float: left;
                background-color:white;
                width:100%;
                height:150px;
                padding:30px;
            }
            
            #Connectwithme{
                color:#4aaaa5;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size:15px;
                border-bottom: 1px solid silver;
            }
            
            #icon1,#icon2{
                margin-top:20px;
            }

   }
   
   
   