
     @media screen and (min-width: 960px) {
     
     h1{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size:30px;
     }
     
    

     body{
         background-image: url("../images/dust_scratches.png");
         background-color: lightgray;
         /* width:1500px; */
     }
    footer{
        position:fixed;
        bottom:0;
        left:0;
        color:#8d8c8c;
        font-family: Arial, Helvetica, sans-serif;
        border-top: 8px solid #4aaaa5;
        font-size: 10px;
        height:10px;
        padding:20px;
        text-align: center;
        background-color: rgb(75, 73, 73);
        width:100%;
    }
     p{
         color: grey;
         font-family:Arial, Helvetica, sans-serif;
         font-size:12pt;
         line-height: 200%;
     }

    /* What is this function */

    .Header{
        position:absolute;
        top:0;
        left:0;
        background-color: #ffffff;
        width:100%;
        height:80px;
      }


     
     #Yourname{
         position:absolute;
         top:0;
         left:200px;
         text-align: center;
         color:white;
         background-color: #4aaaa5;
         height:80px;
         width:200px;
     }

    .container{
     position:absolute;
     left:900px;
     top:20px;
     width:260px;
     /* border: 3px solid red; */
     }

     .tab{
     text-align: center;
     float:left;
     width:50px;
     padding-top:20px;
     padding-bottom:10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
     }
     
     a{
    text-decoration: none;
    color:grey;
     }

    
     .Pagebody{
        position:absolute;
        top:100px;
        left:200px;
        right:100px;
        bottom:200px;
         background-color: #ffffff;
         /* required width */
         width:600px;
         padding:25px;
         margin-right:50px;
         margin-bottom: 100px;
         min-height: 1000px;
     }

     #Aboutme{
         border-bottom:4px solid silver;
         margin-bottom: 30px;
         color: teal;
     }

    #bioimage{
        float: left;
        margin-right:10px;
    }

    .sidebar{
       position:absolute;
       top:100px;
       left:900px;
       right:100px;
        background-color:white;
        /* required width */
        width:240px;
        height:150px;
        padding:30px;
    }


   .icongroup{
     position: absolute;
     bottom:30px;
     width:80%;
     margin:auto;
    }

	
	#icon1,#icon2{
		margin-right:20px;
	}

  

    #Connectwithme{
        color:#4aaaa5;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:15px;
        border-bottom: 1px solid silver;
    }

     

    label{
         color: grey;
         font-family:Arial, Helvetica, sans-serif;
         font-size:12pt;
     }

input[type=text] {
    width: 100%;
    color:#ccc;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
}


input[type=submit]{
    background-color: Teal;
    font-size: 18px;
    border: none;
    color: rgb(236, 234, 234);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 13px;
    color:#ccc
}

.presentation {
  border:1px solid silver;
  float: left;
  width:40%;
  height:200px;
  margin:25px;
}

.presentationtab {
  position:relative;
  bottom:80px;
  color:white;
  background-color:teal;
  text-align: center;
  padding: 3px 5px;
  opacity: 0.8;
}

}





